//
@import "~buefy/dist/buefy.min.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

.width25{
	max-width: 25px;
	word-wrap: break-word;
}
.width50{
	max-width: 45px;
	word-wrap: break-word;
}
.width75{
	max-width: 60px;
	word-wrap: break-word;
}