//
@import "~buefy/dist/buefy.min.css";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

.width11{
	max-width: 11px;
	word-wrap: break-word;
}
.width25{
	max-width: 25px;
	word-wrap: break-word;
}
.width30{
	max-width: 30px;
	word-wrap: break-word;
}
.width60{
	max-width: 60px;
	word-wrap: break-word;
}